Body {
    margin: 0;
    background-color: rgb(0, 0, 0);
}

#wrapper {
    display: flex;
    /*background-image: url(./img/watercolour-1325656_1280.webp);*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: 50px;
    box-sizing: border-box;
}

.img-container{
    border: 2px solid green;
    display: flex;
    justify-content: center;
    object-fit: contain;
    max-height: 500px;

}
.links {
    display: flex;
    justify-content: center;
    flex: 1;
    width: 100%;
}

.rechts {
    display: flex;

}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#storys {
    display: flex;
    border-radius: 15px;
    padding: 10px;
    justify-content: center;
    margin-bottom: 8%;


    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.post {
    display: flex;
    padding: 20px;
    flex-direction: column;
    border-radius: 16px;
    gap: 16px;
    width: 750px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

#posts {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    border-radius: 15px;

    overflow: auto;
    gap: 20px;
    align-items: center;
}

#suggestions {
    display: flex;
    flex-direction: column;
    width: 400px;
    color: aliceblue;
    margin-right: 20px;
}

#suggestions-head {
    display: flex;
    justify-content: space-around;
}
#logged{
    margin-bottom: 50px;
    padding: 16px;
    border-radius: 16px;
    
}
#logged_mobile {
    display: flex;
    flex-direction: column;
}

#story {
    display: flex;
    flex-direction: column;

}

#profile {
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    overflow: auto;
    padding: 20px;
    gap: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#logged #logged-mobil {
    border-radius: 20px;
    padding: 10px;
}

.profil {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    background: rgba(255, 255, 255, 0.2);
}


#storys img {
    display: flex;
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid rgb(255, 0, 208);
    cursor: pointer;
}

.pb-mini {
    display: flex;
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid rgb(255, 0, 217);
    cursor: pointer;
}

.follow {
    display: flex;
    color: rgb(9, 135, 189);
}

.beschreibung {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: aliceblue;
}


p {
    margin-block-start: 0;
    margin-block-end: 0;
}

#storyMenü {
    display: flex;
    justify-content: center;
    display: flex;
    color: aliceblue;
    gap: 20px;
}


.postimg {
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;

}

.post-head {
    gap: 16px;
    display: flex;
    align-items: center;
}


.post-head-info {
    display: flex;
    flex-direction: column;
}

#storys::-webkit-scrollbar {
    height: 5px;
    overflow: scroll;
}

#posts::-webkit-scrollbar {
    height: 5px;
    overflow: scroll;
}

#profile::-webkit-scrollbar {
    height: 5px;
    overflow: scroll;
}

.lmn::-webkit-scrollbar {
    height: 5px;
    overflow: scroll;
}

.lmn {
    display: flex;
    height: 200px;
    flex-direction: column;
    overflow: auto;
    background-color: rgba(117, 117, 117, 0.2);
}

#pictures {
    justify-content: center;
    border-radius: 8px;
    width: 1025;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
}

.picture {
    padding: 8px;
    width: 240px;
    height: 240px;
    object-fit: cover;
}

.big {
    position: absolute;
    object-fit: contain;
    width: 70%;
    height: 80%;
}

#fotoAnzeige {
    width: 50%;
    height: 80%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

@media(max-width:1200px) {
    .rechts {
        display: none;
    }

    #storys {
        width: 97vw;
        margin-bottom: 10px;
        margin-top: 10px;
        justify-content: left;
    }
    #wrapper {
        display: block;
        padding-top: 10px;
    }
}
@media(max-width:860px) {
    #storys {
        height: 85px;
        overflow: auto;
        width: 95vw;
        justify-content: left;
    }

    .post {
        width: 350px;
    }

    #posts {
        height: 75vh;
        width: 400px;
        align-items: center;

    }

    #wrapper {
        display: block;
        padding-top: 10px;
    }

    #content {
        width: 400px;
        align-items: center
    }

    #links {
        width: 400px;
    }
}
@media(min-width:1200px) {
    #logged_mobile {
        display: none;
    }
}